* {
	box-sizing: border-box;
}
body{
	font-family: serif;
	padding: 20px;
	width: 100%;

}

h1{
	color: blue;
	font-size: 1.75em;
	text-align: center;
	font-weight: 700;
	margin-bottom: 100px;

}


div{
	height: 200px;
	border: solid black; 
	margin-right: 5px;
	margin-bottom: 20px;
	background-color: grey;
	font-size: 1.25em;
	float: left;
	overflow: hidden;
	position: relative;
	clear: right;
	
}


#s1{
	float: right;
	border: solid black;
	background-color: red;
	margin: 0px;
	height: 50px;
	width: 100px;
	padding: 5px;


}

#s2{
	float: right;
	border: solid black;
	background-color: blue;
	margin: 0px;
	height: 50px;
	width: 100px;
	padding: 5px;

}

#s3{
	float: right;
	border: solid black;
	background-color: pink;
	margin: 0px;
	height: 50px;
	width: 100px;
	padding: 5px;

}


@media (min-width: 992px){
	div{
		width: 33%;	
	}

}

@media(min-width: 768px and max-width: 991px){
	div{
		width: 50%
	}

}
@media(max-width: 767px) {
	div{
		width: 100%;
	}
}
