* {
	box-sizing: border-box;
}
body{
	font-family: serif;
	padding: 20px;
	width: 100%;

}

h1{
	color: blue;
	font-size: 1.75em;
	text-align: center;
	font-weight: 700;
	margin-bottom: 100px;

}


section {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 125%;
  text-align: right;
  display: inline-block;
  padding: 2px;
  }

.column {
  width: 33.3%;
  float: left;
  padding: 25px;
  position:relative;
}

.div1 {
  height: 200px; 
  margin: 0% ; 
  overflow: hidden;
  background-color: grey;
  border: solid 1px;
  position: relative;
}

#sec1 {
  background-color: red;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

#sec2 {
  background-color: blue;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
}

#sec3 {
  background-color: pink;
  border-left:solid 1px black;
  border-bottom:solid 1px blue;
  
}


div p {
  padding: 10px
}



@media (max-width: 992px) {
.column {
}
  }



@media (min-width: 768px) and (max-width: 991px) {
.column {
width:50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
#column3 {
width:100%;
  }
}

@media (max-width: 767px) {
    .column {   
        width: 100%;
        float:none;
    }
}


